.App {
  text-align: center;
}

.Square
{

height:4rem;
width:4rem;
flex: auto;
background-color: #332323;
color: #e02a2a;
top:100%;
bottom:20px;
 
}

.board-row:after {
  content: "";
  clear: both;
  display: table;

  }

